Binaries
DerivedDataCache
Intermediate
Saved
Build
Pakage
Content/Variant_Combat/
Content/Variant_Platforming/
Content/Variant_SideScrolling/

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace